<% if @pins.any?%>
<% @pins.each do |pin| %>
    <div class="result-box">
      <div class="result-box-main-img spandisplay_artist_img3">
            <%=link_to image_tag(pin.image.url(:thumb)),pin_path(pin) %>
            <div class="result-box-main-img-shadow">
            </div>
        </div>
        <div class="result-box-info span4">
          <div class="floatleft">
            <h2 class="underline"><%=pin.description %></h2>
          </div>
        </div>
    </div>    
  <%end%>  
<% end %>