 <!--
 <%= form_tag(about_url, method: "get") do %>   
 <span> <%= label_tag(:q, "Search for:") %></span> </br>
  <%= text_field_tag(:q) %></br>
  <%= submit_tag("Search") %>
  <% end %> -->

<ul class="nav nav-stacked ">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>